@import url("https://github.netux.ml/css/fixesnetux.css");







#chat .chat-container .chat-messages .chat-main li.user-580f434c9b89911a0009114e .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.user-580f434c9b89911a0009114e  .user-role-icon
{
    background-image: url(http://i.imgur.com/LxVj1n5.png);
    display: inline-block;
}

#chat .chat-container .chat-messages .chat-main li.resident-dj .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.resident-dj  .user-role-icon
{
    background-image: url(http://i.imgur.com/Qi5HlNO.png);
    display: inline-block;
}

#chat .chat-container .chat-messages .chat-main li.vip .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.vip  .user-role-icon
{
    background-image: url(http://i.imgur.com/5L9lycE.png);
    display: inline-block;
}

#chat .chat-container .chat-messages .chat-main li.mod .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.mod  .user-role-icon
{
    background-image: url(http://i.imgur.com/J1OIsf1.png);
    display: inline-block;
}

#chat .chat-container .chat-messages .chat-main li.manager .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.manager  .user-role-icon
{
    background-image: url(http://i.imgur.com/EGS5d0u.png);
    display: inline-block;
}

#chat .chat-container .chat-messages .chat-main li.co-owner .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.co-owner  .user-role-icon
{
    background-image: url(http://i.imgur.com/EBGQyDT.png);
    display: inline-block;
}
#chat .chat-container .chat-messages .chat-main li.creator .username .user-role-icon,
#main_avatar_room #main-user-list-room #avatar-list LI.creator  .user-role-icon
{
    background-image: url(http://i.imgur.com/5YZJXK1.png);
    display: inline-block;
}



#main_avatar_room #main-user-list-room #avatar-list li.resident-dj .username {
	color: #e2440b !important;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.resident-dj .username {
	color:  #e2440b;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.resident-dj .user-role {
        color:#e2440b;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.resident-dj .user-role {
	color: #e2440b !important;
	font-family: "Times New Roman", sans-serif!important;
}



#main_avatar_room #main-user-list-room #avatar-list li.vip .username {
	color: #71f442 !important;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.vip .username {
        color:#71f442;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.vip .user-role {
        color:#71f442;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.vip .user-role {
	color: #71f442 !important;
	font-family: "Times New Roman", sans-serif!important;
}



#chat .chat-container .chat-messages .chat-main li.mod .username {
	color: #d3f28c !important;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.mod .username {
	color: #d3f28c;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.mod .user-role {
	color:#d3f28c;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.mod .user-role {
	color: #d3f28c !important;
	font-family: "Times New Roman", sans-serif!important;
}



#main_avatar_room #main-user-list-room #avatar-list li.manager .username {
	color: #df92e5;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.manager .user-role {
    color:#df92e5;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.manager .username {
	color: #df92e5; 
	font-family: "Times New Roman", sans-serif!important
}

#main_avatar_room #chat-user-list-room #avatar-list li.manager .user-role{
	color: #df92e5;
	font-family: "Times New Roman", sans-serif!important;
}



#chat .chat-container .chat-messages .chat-main li.co-owner .user-role {
        color:#ff0015;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.co-owner .username {
	color: #ff0015;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.co-owner .username {
	color: #ff0015; 
	font-family: "Times New Roman", sans-serif!important
}

#main_avatar_room #chat-user-list-room #avatar-list li.co-owner .user-role{
	color: #ff0015;
	font-family: "Times New Roman", sans-serif!important;
}



#chat .chat-container .chat-messages .chat-main li.creator .user-role {
        color:#6a00ff;
	font-family: "Times New Roman", sans-serif!important;
}

#main_avatar_room #main-user-list-room #avatar-list li.creator .username {
	color: #6a00ff;
	font-family: "Times New Roman", sans-serif!important;
}

#chat .chat-container .chat-messages .chat-main li.creator .username {
	color: #6a00ff; 
	font-family: "Times New Roman", sans-serif!important
}

#main_avatar_room #chat-user-list-room #avatar-list li.creator .user-role{
	color: #6a00ff;
	font-family: "Times New Roman", sans-serif!important;
}



#main_player .player_header span.skip-el {
   	float: right;
    	margin-right: 10px;
    	color: white;
	background-color: red;
	font-family: Helvetica;
}



#chat .chat-container .chat-messages .chat-main li .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    opacity: 0;
    font-size: smaller;
    content: "pleb";
}
#chat .chat-container .chat-messages .chat-main li .username:hover:first-child:after
{
    transition-property: opacity;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list li  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    font-weight: normal;
    opacity: 0.8;
    content: "pleb";
}
#main_avatar_room #main-user-list-room #avatar-list li .username:hover:after
{
    transition-property: opacity;
    opacity: 1;
}

#chat .chat-container .chat-messages .chat-main li.dj .username:first-child:after
{
    margin-left: .25rem;    
    transition-property: opacity;
    opacity: 0;
    font-size: smaller;
    content: "member";
}
#chat .chat-container .chat-messages .chat-main li.dj .username:hover:first-child:after
{
    transition-property: opacity;
    opacity: 0.8;
}

#main_avatar_room #main-user-list-room #avatar-list li.dj  .username:after 
{
    margin-left: .25rem;    
    transition-property: opacity;
    font-weight: normal;
    opacity: 0.8;
    content: "member";
}
#main_avatar_room #main-user-list-room #avatar-list li.dj .username:hover:after
{
    transition-property: opacity;
    opacity: 1;
}
