#main_player .play-song-link-container .play-song-link-browser {
	margin-bottom: 0px;
	background: none;
	border-radius: 10px;
    	background: rgba(0,0,0,0.0);
	z-index: 1;
}

#main_player .play-song-link-container .play-song-link {
	display:none!important;
}
