.header-center-logo a {
	background: url'http://i.imgur.com/2vFptdE.png'!important;
	display: inline-block;
}
/*
.header-center-logo a {
    background: url(https://puu.sh/uP0fz/d604499bfb.png) !important;
    width: 2.8rem !important;
    height: 3.2rem !important;
    margin-top: 3px !important;
}
