
.header-center-logo a {
    background: url'http://i.imgur.com/2vFptdE.png'!important;
    width: 2.8rem !important;
    height: 3.2rem !important;
    margin-top: 3px !important;
}

.header-center-logo img{
    visibility: hidden
}

#jetman640stoolsdiv span{
    left: 7px;
    position: relative;
}
