.icon-menu:before {
    content: "\e912";
    color: #5de514;
}
#header-global .header-left-navigation a {
    display: inline-block;
    color: white;
}
#header-global .header-left-navigation:hover a {
    display: inline-block;
    color: #5de514;
}
.icon-chevron:before {
     content: "\e800";
     color: #5de514;
 }
