#main-room .left_section .main-player-wrapper {
    display: table-cell;
    vertical-align: top;
    display: inline-block;
    margin-top: 1.6rem;
}

#main-room .left_section .main-player-wrapper {
    left: 2rem;
}
